.main-cover {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px 30px;
}

.main-content {
	color: black;
	width: 100%;
	display: flex;
	padding: 50px 0;
	flex-direction: row;
}

.main-cover .text h2 {
	font-size: 2.2rem;
	font-weight: 600;
}

.main-cover .text h2 span {
	color: #e60000;
}
.results {
	width: 300px;
}
.charts {
	width: 100%;
}
