.result-item {
	display: flex;
	color: black;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
	background-color: #00000005;
	padding: 36px 25px;
	border-radius: 5px;
}
.result-item .result-img {
	color: red;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.result-item .result-img img {
	height: 16px;
	width: 16px;
}
.result-item h4,
.result-item p {
	margin: 0;
}
.result-item h4 {
	padding-bottom: 5px;
	color: #282d30;
}

.result-item p {
	font-size: 0.7rem;
	color: #74798c;
}

@media only screen and (max-width: 1500px) {
	.result-item {
		margin-right: 50px;
	}
}
